/* shadcn/ui "base-luma" style. Load after shadcn.css (overrides only). */
[data-shadcn-style="base-luma"] .sjs-theme-overrides {
  /* buttons */
  --sjs2-radius-component-action: calc(var(--spacing) * 6);

  /* formboxes */
  --sjs2-radius-component-formbox: calc(var(--spacing) * 6);
  --sjs2-color-component-formbox-default-border: transparent;
  --sjs2-color-component-formbox-default-bg: color-mix(in oklab, var(--input) 50%, transparent);
  --sjs2-border-effect-component-formbox-default: inset 0 0 0 0 transparent;
  --sjs2-border-effect-component-formbox-focused: 0px 0px 0px 1px var(--sjs2-color-component-formbox-focused-border), 0 0 0 calc(3px + 1px) color-mix(in oklab, var(--ring) 30%, transparent);

  /* checkboxes and radio */
  --sjs2-radius-component-checkbox: 5px; /* rounded-[5px] */
  --sjs2-color-component-check-false-default-bg: color-mix(in oklab, var(--input) 90%, transparent);
  --sjs2-color-component-check-false-hovered-bg: color-mix(in oklab, var(--input) 90%, transparent);
  --sjs2-color-component-check-false-default-border: transparent;
  --sjs2-border-effect-component-check-false-default: inset 0 0 0 0 transparent;
  --sjs2-border-effect-component-check-false-hovered: inset 0 0 0 0 transparent;
  --sjs2-border-effect-component-check-true-default: inset 0 0 0 1px var(--primary);

  /* common and other */
  --sjs2-radius-component-panel: calc(var(--spacing) * 6);
}

[data-shadcn-style="base-luma"] .sd-theme-root .sd-formbox {
  height: calc(var(--spacing) * 9);
}

[data-shadcn-style="base-luma"] .sd-theme-root .sd-element--with-frame {
  --sd-base-padding: calc(var(--spacing) * 5);
}
